<launch>
      <arg name="model" />
      <arg name="gui" default="False" />
      
      <param name="robot_description" textfile="$(find braccio_description)/urdf/robot.urdf" />
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gui)"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)"/>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find braccio_description)/launch/display.rviz" />
</launch>
